<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Tailspin.SpaceGame.Web.Models" value="https://pkgs.dev.azure.com/pruebaCursoAzureDevOps/868ba600-e9ed-4b8c-b5ee-5a05d1a3e2de/_packaging/Tailspin.SpaceGame.Web.Models/nuget/v3/index.json" />
  </packageSources>
</configuration>